@inherits LayoutComponentBase

<PageTitle>ST Genetics</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main class="stgenetics-container">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
